{
    "database": {
        "name": "[nom_base]",
        "host": "[adresse_serveur_sgbd]",
        "port": "[port_sgbd]",
        "username": "[utilisateur_sgbd]",
        "password": "[mot_de_passe_utilisateur_sgbd]"        
    }
}